<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>home</title>
		<link rel="stylesheet" href="../static/search.css" />
	</head>

	<body>
		<div class="catogories">
			<header>
				<div class="meanue-icons">
					<div class="open-user">
						<img
							src="../static/images/icons/user.svg"
							alt="user"
							onerror="
								this.onerror = null;
								this.src =
									'../static/images/icons/user.svg';
							"
						/>
					</div>
					<a href="#"><img src="" alt="" /></a>
					<a href="#"><img src="" alt="" /></a>
					<a href="#"><img src="" alt="" /></a>
				</div>
			</header>
		</div>
		<div class="videos">
			<section class="videos-section"></section>
		</div>
		<div class="user-overlay">
			<div class="user-content">
				<button class="close-user">&times;</button>
				<h2>Welcome Exlorer!</h2>
				<p>Hi: <span>{{user_name}}</span></p>
				<a href="history.html"><button>Video history</button></a>
			</div>
		</div>
		<script src="../static/history.js"></script>
		<script src="../static/pops.js"></script>
	</body>
</html>
