<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../static/home.css" />
	</head>

	<body style="overflow: hidden">
		<div class="catogories">
			<header>
				<div class="search-bar">
					<form class="search-bar">
						<input
							type="text"
							class="search-input"
							type="search"
							placeholder="search"
							aria-label="search"
						/>
						<button type="submit" class="search-btn">
							<img
								src="../static/images/icons/search.svg"
								alt=""
								onerror="
									this.onerror = null;
									this.src =
										'../static/images/icons/user.svg';
								"
							/>
						</button>
					</form>
				</div>
			</header>
		</div>
		<div class="play-con">
			<div class="row">
				<div class="meanue-icons">
					<div class="open-user">
						<img
							src="../static/images/icons/user.svg"
							alt="user"
						/>
					</div>
					<a href="#"><img src="" alt="" /></a>
					<a href="#"><img src="" alt="" /></a>
					<a href="#"><img src="" alt="" /></a>
				</div>
			</div>
			<div class="right-sidebar"></div>
		</div>
		<div class="user-overlay">
			<div class="user-content">
				<button class="close-user">&times;</button>
				<h2>Welcome Exlorer!</h2>
				<p>Hi: <span>{{user_name}}</span></p>
				<img src="{{profile_pic}}" alt="" />
				<a href="history.html"><button>Video history</button></a>
			</div>
		</div>
	</body>
</html>
