<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../static/home.css">
	</head>

	<body style="overflow: hidden">
		<div class="catogories">
			<header>
				<div class="meanue-icons">
					<a href="#" class="open-user">
						<img
							src="../static/images/icons/user.svg"
							alt="user"
						/>
					</a>
					<a href="/logout">
						<img
							src="../static/images/icons/logout.svg"
							alt="logout"
						/>
					</a>

					<a href="search.html">
						<img
							src="../static/images/icons/search.svg"
							alt="settings"
						/>
					</a>
				</div>
			</header>
		</div>
		<div class="play-con">
			<div class="row">
				<div id="video-container">
					<iframe
						src="https://www.youtube.com/embed/4ykAepVkG5Y"
						title="Create A Website Like YouTube Using HTML CSS JS | YouTube Clone Website Design Step By Step"
						frameborder="0"
						allow="
							accelerometer;
							autoplay;
							clipboard-write;
							encrypted-media;
							gyroscope;
							picture-in-picture;
							web-share;
						"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
					></iframe>
				</div>
			</div>
			<div class="right-sidebar"></div>
		</div>
		<div class="user-overlay">
			<div class="user-content">
				<button class="close-user">&times;</button>
				<h2>Welcome Exlorer!</h2>
				<p>Hi: <span>{{user_name}}</span></p>
				<img src="{{profile_pic}}" alt="" />
				<a href="history.html"><button>Video history</button></a>
			</div>
		</div>
	</body>
</html>
