*,
*::after,
*::before {
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        padding: 0;
}

html {
        background: linear-gradient(to right, #1f1f1f, #2f2f2f);
}

body {
        margin: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #fff;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
}

.search-bar {
        display: flex;
        flex-grow: 1;
        margin: 0 2rem 0 4rem;
}

.search-input {
        width: 100%;
        font: inherit;
        padding: .4rem;
        background-color: #616161;
        border: 1px solid #ccc;
        color: #fff;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
}

.search-btn {
        display: flex;
        align-items: center;
        padding: 9px 1.25rem;
        border: 1px solid #ccc;
        background-color: #616161;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
}

.search-btn:hover {
        background-color: #7b7b7bf0;
}

.categories {
        padding: 1rem 2rem;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
}

.category-section {
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        scrollbar-width: thin;
}

.category-section::-webkit-scrollbar {
        height: 6px;
}

.category-section::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
}

.category-section::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #2f2f2f;
}

.category-section::-webkit-scrollbar-thumb:hover {
        background-color: #444;
}

.category {
        padding: .5rem 1rem;
        border-radius: 50px;
        background-color: #676767;
        font-weight: bold;
        cursor: pointer;
        transition: background 150ms;
        color: #fff;
}

.category:hover {
        background-color: #b9b9b9;
}

.category.active {
        background-color: #d0d0d0;
        color: #000;
}

.videos-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1.5rem;
}

.video-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-start;
}

.thumbnail {
        flex-shrink: 0;
        width: 40vw;
        height: 30vhpx;
        border-radius: 1.5vw;
        position: relative;
        overflow: hidden;
        border: 1px solid #eeeeee8d;
        transition: border 250ms;
}

.thumbnail:hover {
        border: 1px solid #eee;
}

.thumbnail::before {
        content: attr(data-duration);
        color: #ccc;
        position: absolute;
        background-color: #1414147d;
        right: 5px;
        bottom: 5px;
        padding: .1em .3em;
        border-radius: .3em;
        font-size: .9em;
}

.thumbnail-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.5vw;
}

.video-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
}

.video-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: .3rem;
        text-decoration: none;
        color: #fff;
}

.video-channel {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: .3rem;
}

.channel-icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #ccc;
}

.video-channel-name {
        text-decoration: none;
        color: #c1c1c1;
        font-weight: bold;
        transition: color 150ms;
}

.video-channel-name:hover {
        color: #fff;
}

.video-metadata {
        color: #c1c1c1;
        font-size: .9rem;
}