<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Uploader</title>
		<link rel="stylesheet" href="../static/home.css" />
	</head>
	<body>
		<div class="catogories">
			<header>
				<div class="meanue-icons">
					<a href="#" class="open-user">
						<img
							src="{{prof_pic}}"
							onerror="
								this.onerror = null;
								this.src =
									'../static/images/icons/user.svg';
							"
						/>
					</a>
					<a href="/logout">
						<img
							src="../static/images/icons/logout.svg"
							alt="logout"
						/>
					</a>
					<a href="search.html">
						<img
							src="../static/images/icons/search.svg"
							alt="search"
						/>
					</a>
					<a href="upload.html">
						<img
							src="../static/images/icons/channel.svg"
							alt="settings"
						/>
					</a>
				</div>
			</header>
		</div>
		<div class="channel-banner">
			<div class="grid1">
				<img
					src="{{avatar}}"
					alt="avatar"
					onerror="
						this.onerror = null;
						this.src = '../static/images/icons/user.svg';
					"
					class="avatar"
				/>
				<h1>{{channel-name}}</h1>
			</div>

			<span>{{subscriber-count}}</span>
			<button class="sub">{{subscrbe}}</button>
		</div>
		<div class="uploader-form">
			<input type="text" placeholder="Video title" required />
			<input type="file" required />
			<textarea placeholder="Description" required></textarea>
			<button>UPLOAD</button>
		</div>

		<div class="user-overlay">
			<div class="user-content">
				<button class="close-user">&times;</button>
				<h2>Welcome Explorer!</h2>
				<p>Hi: <span>{{user_name}}</span></p>
				<img src="{{profile_pic}}" alt="" />
				<a href="history.html"><button>Video history</button></a>
			</div>
		</div>
		<script src="../static/pops.js"></script>
	</body>
</html>
