<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Explore Yourself</title>
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<section class="welcome">
			<h1>
				School tells you <br />
				what to study.<br />
				<span>Never Explore</span>
			</h1>

			<p class="subtitle">Discover, experiment, and grow your own way.</p>

			<button onclick="window.location.href = 'register.html'">
				START EXPLORING
			</button>

			<div class="features">
				<div class="feature-card">
					<h3>Self-Discovery</h3>
					<p>
						Just discover from surfing the internet with out
						distraction
					</p>
				</div>
				<div class="feature-card">
					<h3>Entertainement</h3>
					<p>
						Entertaint well while exploring any thing you need
						like social media
					</p>
				</div>
			</div>
		</section>

		<div id="world"></div>
	</body>
</html>
