*,
*::after,
*::before {
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
}

html {
        background: linear-gradient(to right, #1f1f1f, #2f2f2f);
}

body {
        margin: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
}

.video-container {
        display: flex;
        flex-direction: column;
}

.videos-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 3rem 1rem;
        padding: 3rem 0;
        margin: 0 1.5rem;
        border-top: 4px solid #ccc;
}

.videos-section:first-child {
        border-top: none;
}

.thumbnail {
        position: relative;
        display: flex;
        border-radius: 1.5vw;
        border: 1px solid #eeeeee8d;
        transition: border 250ms;

}

.thumbnail:hover {
        border: 1px solid #eee;
}

.thumbnail::before {
        content: attr(data-duration);
        color: #ccc;
        position: absolute;
        background-color: #1414147d;
        right: 5px;
        bottom: 5px;
        padding: .1em .3em;
        border-radius: .3em;
        font-size: .9em;
}

.thumbnail-image {
        width: 100%;
        height: 100%;
        min-width: 250px;
        min-height: 150px;
        background-color: #aaa;
        border-radius: 1.5vw;
}

.channel-icon {
        margin-right: .75rem;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background-color: #ccc;
}

.video-bottom-section {
        display: flex;
        align-items: flex-start;
        margin-top: 1rem;
}

.video-details {
        display: flex;
        flex-direction: column;
}

.video-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: .5rem;
        text-decoration: none;
        color: #fff;
}

.video-channel-name {
        margin: .1rem;
        text-decoration: none;
        transition: color 150ms;
}

.video-channel-name:hover {
        color: #fff;
}

.video-metadata,
.video-channel-name {
        color: #c1c1c1;
}

.catogories {
        padding: 1rem 2rem;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;

}

.category-section {
        display: flex;
        overflow: scroll;
        scrollbar-width: thin;
}

.category-section::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
}

.category-section::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        background-color: transparent;
}

.category-section::-webkit-scrollbar-thumb {
        border-radius: 3px;
        transition: background 0.3s;
        background-color: #2f2f2f;
}

.category-section::-webkit-scrollbar-thumb:hover {
        background-color: #2f2f2f;
}


.categoty {
        margin-right: 1rem;
        word-wrap: none;
        white-space: nowrap;
        border: 2px solid #212121;
        border-radius: 900px;
        background-color: #676767;
        padding: .5rem 1rem;
        font-size: inherit;
        cursor: pointer;
        transition: background-color 150ms;
        color: #fff;
        font-weight: bold;
}

.categoty:hover::-webkit- {
        background-color: #b9b9b9;
}

.categoty.active {
        background-color: #d0d0d0;
        color: #000;
}

.categoty:last-child {
        margin-right: 0;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
}

.search-bar {
        display: flex;
        flex-grow: 1;
        margin: 0 2rem 0 4rem;
}

.search-input {
        width: 100%;
        font: inherit;
        padding: .4rem;
        background-color: #616161;
        border: 1px solid #ccc;
        color: #fff;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
}

.search-btn {
        display: flex;
        align-items: center;
        padding: 9 1.25rem;
        border: 1px solid #ccc;
        background-color: #616161;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
}

.search-btn:hover {
        background-color: #7b7b7bf0;
}




iframe {
        width: 100vw;
        height: 89vh;
}

.user-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        pointer-events: auto;
}

.user-content {
        background-color: #1f1f1f;
        color: #fff;
        padding: 2rem 3rem;
        border-radius: 15px;
        max-width: 400px;
        width: 90%;
        text-align: center;
        position: relative;
        border: 2px solid #ccc;
        pointer-events: auto;
}

.close-user {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
}

.open-user img {
        cursor: pointer;
        position: relative;
        top: .5rem;
        scale: 1.25;
}

.user-content button {
        margin-top: 1rem;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        background-color: #000;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;
}

.user-content button:hover {
        transform: translateY(-2px);
}