*,
*::after,
*::before {
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	padding: 0;
}

html {
	background: linear-gradient(to right, #1f1f1f, #2f2f2f);
}

body {
	margin: 0;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1px solid #444;
}

.search-bar {
	display: flex;
	flex-grow: 1;
	margin: 0 2rem;
}

.search-input {
	flex-grow: 1;
	padding: 0.5rem 1rem;
	font: inherit;
	background-color: #616161;
	border: 1px solid #444;
	border-radius: 4px 0 0 4px;
	color: #fff;
}

.search-btn {
	padding: 0 1.5rem;
	background-color: #616161;
	border: 1px solid #444;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.search-btn:hover {
	background-color: #7b7b7bf0;
}

.categories {
	padding: 1rem 2rem;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	overflow-x: auto;
}

.category-section {
	display: flex;
	gap: 1rem;
}

.category {
	padding: 0.5rem 1rem;
	border-radius: 50px;
	background-color: #676767;
	font-weight: bold;
	cursor: pointer;
	white-space: nowrap;
	transition: background 150ms;
}

.category:hover {
	background-color: #b9b9b9;
}

.category.active {
	background-color: #d0d0d0;
	color: #000;
}

.videos-section {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 2rem;
}

.video-container {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
}
.video-container:hover {
	background-color: #ffffff0d;
}

.thumbnail {
	flex-shrink: 0;
	width: 360px;
	height: 202px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #444;
	transition: border 0.3s;
	cursor: pointer;
}

.thumbnail:hover {
	border-color: #fff;
}

.thumbnail::before {
	content: attr(data-duration);
	position: absolute;
	bottom: 8px;
	right: 8px;
	padding: 2px 6px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-size: 0.8rem;
	border-radius: 3px;
}

.thumbnail-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-bottom-section {
	display: flex;
	gap: 0.8rem;
}

.channel-icon {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #ccc;
	flex-shrink: 0;
}

.video-details {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.video-title {
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	line-height: 1.2rem;
}

.video-title:hover {
	text-decoration: underline;
}

.video-channel-name {
	font-size: 0.85rem;
	color: #aaa;
	text-decoration: none;
}

.video-channel-name:hover {
	color: #fff;
}

.video-metadata {
	font-size: 0.8rem;
	color: #aaa;
}

.video-metadata span {
	margin-right: 5px;
}

.video-metadata p {
	margin-top: 4px;
	line-height: 1.2rem;
	color: #ccc;
}

.video-metadata span {
	color: #aaa;
	font-size: 13px;
}

.user-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	pointer-events: auto;
}

.user-content {
	background-color: #1f1f1f;
	color: #fff;
	padding: 2rem 3rem;
	border-radius: 15px;
	max-width: 400px;
	width: 90%;
	text-align: center;
	position: relative;
	border: 2px solid #ccc;
	pointer-events: auto;
}

.close-user {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
}

.open-user img {
	cursor: pointer;
	position: relative;
	top: 0.5rem;
	scale: 1.25;
}

.user-content button {
	margin-top: 1rem;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;
}

.user-content button:hover {
	transform: translateY(-2px);
}

.history-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.history-item {
	display: flex;
	gap: 16px;
	padding: 12px;
	border-radius: 10px;
	transition: background 0.2s ease;
}

.history-item:hover {
	background: #ffffff0d;
	border: 1px solid #00e1ff14;
}

.history-thumbnail {
	width: 360px;
	height: 202px;
	border-radius: 10px;
	overflow: hidden;
}

.history-thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.history-details {
	display: flex;
	align-items: center;
}

.video-title {
	font-size: 1rem;
	font-weight: 600;
	display: block;
	margin-bottom: 6px;
}

.video-channel-name {
	font-size: 0.9rem;
	opacity: 0.8;
}

.video-metadata {
	font-size: 0.8rem;
	opacity: 0.6;
	margin-top: 4px;
}

.history-watched {
	font-size: 0.8rem;
	color: #4da3ff;
	margin-top: 8px;
}
