*,
*::after,
*::before {
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        padding: 0;
}

html {
        background: linear-gradient(to right, #1f1f1f, #2f2f2f);
}

body {
        margin: 0;
        color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
}


header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        border-bottom: 1px solid #444;
}

.search-bar {
        display: flex;
        flex-grow: 1;
        margin: 0 2rem;
}

.search-input {
        flex-grow: 1;
        padding: 0.5rem 1rem;
        font: inherit;
        background-color: #616161;
        border: 1px solid #444;
        border-radius: 4px 0 0 4px;
        color: #fff;
}

.search-btn {
        padding: 0 1.5rem;
        background-color: #616161;
        border: 1px solid #444;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
}

.search-btn:hover {
        background-color: #7b7b7bf0;
}


.categories {
        padding: 1rem 2rem;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        overflow-x: auto;
}

.category-section {
        display: flex;
        gap: 1rem;
}

.category {
        padding: 0.5rem 1rem;
        border-radius: 50px;
        background-color: #676767;
        font-weight: bold;
        cursor: pointer;
        white-space: nowrap;
        transition: background 150ms;
}

.category:hover {
        background-color: #b9b9b9;
}

.category.active {
        background-color: #d0d0d0;
        color: #000;
}


.videos-section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
}


.video-container {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
}


.thumbnail {
        flex-shrink: 0;
        width: 360px;
        height: 202px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #444;
        transition: border 0.3s;
        cursor: pointer;
}

.thumbnail:hover {
        border-color: #fff;
}

.thumbnail::before {
        content: attr(data-duration);
        position: absolute;
        bottom: 8px;
        right: 8px;
        padding: 2px 6px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        font-size: 0.8rem;
        border-radius: 3px;
}

.thumbnail-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
}


.video-bottom-section {
        display: flex;
        gap: 0.8rem;
}


.channel-icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #ccc;
        flex-shrink: 0;
}


.video-details {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
}


.video-title {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        line-height: 1.2rem;
}

.video-title:hover {
        text-decoration: underline;
}


.video-channel-name {
        font-size: 0.85rem;
        color: #aaa;
        text-decoration: none;
}

.video-channel-name:hover {
        color: #fff;
}


.video-metadata {
        font-size: 0.8rem;
        color: #aaa;
}

.video-metadata span {
        margin-right: 5px;
}

.video-metadata p {
        margin-top: 4px;
        line-height: 1.2rem;
        color: #ccc;
}


.history-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: rgba(0, 0, 0, 0.4);
}

.history-progress-bar {
        height: 100%;
        background: #00ff99;
}

.video-metadata span {
        color: #aaa;
        font-size: 13px;
}